/** Layout Articulo ***/
.article__section{
    font-family     	: arial;
    font-size       	: 13px;
    font-weight     	: normal;
    margin-top			: 5%;
}

.article__section--yellow{
	color           	: #FFC300;
}

.article__section--blue{
	color           	: #0000FF;
}

.article__date{
    color           	: gray;
    font-family     	: arial;
    font-size       	: 14px;
    font-weight     	: normal;
    padding-top     	: 3px;
}

.article__title{
    color           	: black;
    font-family     	: arial;
    font-size       	: 18px;
    font-weight     	: normal;
    padding-top     	: 12px;
}

.article__body{
    color           	: black;
    font-family     	: arial;
    font-size       	: 13px;
    font-weight     	: normal;
    text-align      	: justify;

}

.article__image{
	width				: 100%;
}

.article__image--margin{
	margin-bottom   	: 20px;
}

.article__header{
    margin-bottom   	: 12px;
}

.article__details{
	padding				: 5% 5% 5% 5%;
}
