/** Layout Principal ***/
body{
        background              : #F5F5F5;
}

.main-container{
        /** Generamos el layout principal en forma de columnas **/
        display                 : flex;
        flex-direction          : column;
        justify-content         : space-between;
        background              : transparent;
        width                   : 100%;
}

.main-section__tittle{
        margin                  : 2% 5% 0% 5%; /** Todos los hijos separados top,right,button,left **/
}

.main-section__line{
        margin                  : 1% 5% 2% 5%; /** Todos los hijos separados top,right,button,left **/
        border                  : 1px dashed #E0E0E0;
        height                  : 0; 
        width                   : 2%;
}

.main-section{
        margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
        background              : #FFFFFF;
        box-shadow              : 5px 5px 2.5px grey;
        width                   : 90%;
}

.main-footer{
        display                 : flex;
        flex-direction          : row;
        margin                  : 3% 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}

/** Main Header **/

.main-header__logo{
        margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}

.main-header__menu{
        list-style-type         : none;
        margin                  : 0;
        padding                 : 0 5% 0 5%; /** Buscamos el efecto de nostrar el menú a lo largo de la index **/
        border-bottom           : 1px solid #E0E0E0;
        border-top              : 1px solid #E0E0E0;
        background              : #FFFFFF;
        box-shadow              : 5px 5px 2.5px grey;
}

.main-header__menu-item{
        display                 : inline-block; /** Creamos el menú horizontal **/
        text-align              : center;
        padding                 : 15px;
        border-right            : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
}

.main-header__menu-item:first-child{
        border-left             : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
}

.main-header__menu-item-link{
        text-align              : center;
        text-decoration         : none;
        color                   : #000000;
}

/** Main Content **/
.main-section__backgroumd--inherit{
        /** Sobre-escritura de un estilo de main.css **/
        background              : inherit;
        box-shadow              : none;
}

.main-section__grid {
        display                 : grid;
        grid-template-columns   : repeat(3,30%);
        grid-column-gap         : 5%;
        grid-row-gap            : 20px;
        background              : transparent;
}

.main-section__grid-article{
        border                  : 1px solid;
        background              : #FFF;
        box-shadow              : 5px 5px 2.5px grey;
}

.main-section__grid-article--yellow{
        border-bottom           : 3px solid #FFC300;
}

.main-section__grid-article--blue{
        border-bottom           : 3px solid #0000FF;
}

.main-section__grid-article-a{
        text-decoration         : none;
}

.main-section__grid-article--margin-cols{
        margin                  : 0% 5% 0% 5%; /** Todos los hijos separados top,right,button,left **/
}

/** Main Footer **/
.main-footer__menu{
        list-style-type         : none;
        padding                 : 0px;
        border-bottom           : 1px solid #E0E0E0;
        border-top              : 1px solid #E0E0E0;
}

.main-footer__menu-item{
        display                 : inline-block; /** Creamos el menú horizontal **/
        padding-top             : 10%;
}

.main-footer__menu-item-link{
        color                   : grey;
        text-align              : left;
        text-decoration         : none;
 }

/** Estado de Conexion **/
.main-header__status-color--online , .main-header__status-color--offline{
        height                  : 16px;
        width                   : 16px;
        border-radius           : 50%; /*Circulo que indicara estado*/
        border                  : 0.5px solid grey;
        float                   : right;        
}

.main-header__status-color--online{
        background               : #00cd46;
}

.main-header__status-color--offline{
        background              : #ff060b;
}

.main-header__menu-status{
        display                 : block;
        float                   : right;
}

.main-header__status-p{
        display                 : inline-block;
        padding-right           : 5px;
}

@media only screen and (max-device-width: 480px), (max-width: 480px){
	/** Tanto para pantallas móviles como para navegadores de pc hasta 480px **/
	.main-section__grid{
        /** Generamos el layout principal en forma de columnas **/
        display                 	: flex;
        flex-direction          	: column;
        justify-content         	: flex-start;
        background              	: transparent;
	}	
	
	.main-section__grid-article{
		margin-top					: 20px;
        border                  	: 1px solid;
        background              	: #FFF;
        box-shadow              	: 5px 5px 2.5px grey;
	}
	
	.main-section__grid-article--yellow{
        border-bottom           : 3px solid #FFC300;
	}

	.main-section__grid-article--blue{
        border-bottom           : 3px solid #0000FF;
	}
	
	.main-header__menu{
	        display                  : block;
	        padding                  : 20px;
	        transition               : all .5s ease-out;
	}
	
	.main-header__menu-item{
	        display                  : block;
	        border                   : 1px solid #E0E0E0;
	        transition               : border .2s ease;
	}
	
	.main-footer{
	        display                 : flex;
	        flex-direction          : column;
	}
	    
	.main-footer__menu{
	        border                   : none;
	        transition               : all .5s ease-out;
	}
	
	.main-footer__menu-item{
	        display                  : block;
	        padding                  : 5px 0 5px 0;
	        text-align               : center;
	}

    .main-header__menu-status{
            display                 : block; 
            border right            : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
            float                   : none;
            padding                 : 15px 0 5px 0;
	}
}
