.mi-perfil {
    padding             	: 2%;
}

.mi-perfil__fieldset{
    border              	: none;
}

.mi-perfil__form{
    display                 : grid;
    grid-template-columns   : repeat(2,50%);
    grid-column-gap         : 5%;
    margin-left         	: 20%;
    margin-right       	 	: 20%;
}

.mi-perfil__form--input{
    width               	: 100%;
    height              	: 30px;
    background          	: #F5F5F5;
    border              	: 1px solid #cccccc;
    margin-bottom       	: 3%; 
}

.mi-perfil__form--input:invalid {
    border              	: 2px solid #ff0000;
    background          	: #d7cacc url(../static/img/wrong_formulario.png) no-repeat 98% center;
}

.mi-perfil__form--input:valid {
    border              	: 2px solid green;
    background          	: #aed7b0 url(../static/img/tick_formulario.png) no-repeat 98% center;
}

.mi-perfil__form--input-type-color {
    display             	: block;
    width               	: 50%;
    margin-bottom       	: 3%;
    height              	: 30px; 
}

.mi-perfil__form--input-type-submit,.mi-perfil__form--input-type-reset{
    height              	: 30px;
    margin-bottom       	: 3%;
}

.mi-perfil__form--input-type-submit{
    background          	: #3ca6f4;
    color               	: #ffffff;
}

.mi-perfil__form--image{
    height                  : 100px;
    background-color        : #d7cacc;
    grid-column             : 2;
    display                 : flex;
    justify-content         : center;
    align-items             : center;
    margin-bottom           : 3%;
    margin-top              : 3%;
}

.mi-perfil__form--image::before{
    color                   : grey;
    justify-content         : center;
}

.mi-perfil__form--input-type-image{
    color                   : white;
}

/* Validación de formulario */
input:invalid{
	border-color: #900;
	background-color: #FDD;
}

input:focus:invalid {
	outline: none;
}

/* Estos son los estilos para nuestros mensajes de error */
.error {
	width  : 100%;
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.error.active {
	padding: 3px;
}

@media only screen and (max-device-width: 480px), (max-width: 480px){
	/** Tanto para pantallas móviles como para navegadores de pc hasta 480px **/
    .mi-perfil__form, .mi-perfil__buttons{
		display         	: flex;
        flex-direction     	: column;
        justify-content    	: flex-start;
        margin             	: 0%;
    }
    
    .mi-perfil__form--input-type-color {
		width               : 100%;
	}

    .mi-perfil__form--image{
        width               : 100%;
        height				: auto;
    }
}
